<h1 class='title'>عرض الموظفين</h1>
<hr>
<div class="box">
    <div class="add">
        <input id="search" type="text" placeholder="بحث حسب الاسم">
        <a href="/addEmployee"><button>إضافة موظف</button></a>
  </div>
    <table>
        <thead>
            <tr>
                <th>الاسم الرباعي</th>
                <th>رقم الهوية</th>
                <th>المسمى الوظيفي</th>
                <th>الفئة</th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
                <tr>
                    <td><a href="employee/{{dataValues.id}}" target="_blank">{{dataValues.name}}</a></td>
                    <td>{{dataValues.idNumber}}</td>
                    <td>{{dataValues.jobTitle}}</td>
                    <td>{{dataValues.class}}</td>
                </tr>
        {{/each}}
        </tbody>
    </table>
</div>
