<h1 class='title'>الإعدادات العامة</h1>
<hr>
<div class="box">
    <form action="/generalSetting" method="POST">
        <ul>
            {{#each result }}
            <li>
                <label>سعر الدوﻻر</label>
                <input type="text" placeholder="{{dataValues.dolar}}" name="dolar">
            </li>
            <li>
                <label>القيمة الضريبية</label>
                <input type="text" placeholder="{{dataValues.taxValue}}" name="taxValue">
            </li>
            <li>
                <label>نسبة الادخار</label>
                <input type="text" placeholder="{{dataValues.savingRatio}}" name="savingRatio">
            </li>
            <li>
                <label>نسبة مساهمة المعهد في الضمان</label>
                <input type="text" placeholder="{{dataValues.contributionInstitute}}" name="contributionInstitute">
            </li>
            <li>
                <label>نسبة مساهمة الموظف في الضمان</label>
                <input type="text" placeholder="{{dataValues.contributionEmployee}}" name="contributionEmployee">
            </li>
            <li>
                <label>اعفاء مقيم</label>
                <input type="text" placeholder="{{dataValues.exemptionResident}}" name="exemptionResident">
            </li>
            {{/each}}
        </ul>
        <button>حفظ</button>
    </form>
</div>
